//ad
.ad {
    width: 100%;
    height: auto;
    flex-shrink: 0;

    .single-item {
        width: 100%;
        height: 43vw;
        margin: 0;

        .slick-list {
            height: 100%;

            .slick-track {
                height: 100%;

                img {
                    outline: none;
                }
            }
        }
        
        .slick-dots {
            bottom: 0;

            li {
                margin: 0;
                
                button {

                    &::before {
                        width: 6px;
                        height: 6px;
                        background: $ad_Dot;
                        opacity: 0.5;
                        color: transparent;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        border-radius: 50%;
                    }
                }

                &.slick-active {

                    button {

                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        // .slick-prev,.slick-next {
        //     top: 0;
        //     transform: translate(0);
        //     width: 18vw;
        //     height: 45vw;
        //     z-index: 1;

        //     &::before {
        //         content: "";
        //         position: absolute;
        //         width: 14px;
        //         height: 14px;
        //         border-style: solid;
        //         border-width: 0 0 2px 2px;
        //         border-color: $ad_Arrow;
        //         top: 50%;
        //         left: 50%;
        //         transform: translate(-50%,-50%) rotate(45deg);
        //     }
        // }

        // .slick-prev {
        //     left: 0;
        // }
        // .slick-next {
        //     right: 0;

        //     &::before {
        //         transform: translate(-50%,-50%) rotate(-45deg) scaleX(-1);
        //     }
        // }
    }
}

.multiple-items.card {
    width: 100%;
    height: 180px;
    margin: 0 auto !important;

    .slick-list {
        height: 100%;

        .slick-track {

            li {

                &.slick-center {

                    .cardBG {

                        .nameBox {

                            p {
                                text-shadow: 2px 4px 3px $mainShadow_2;
                            }
                        }

                        .num {
                            text-shadow: 2px 4px 3px $mainShadow_2;
                        }
                    }
                }
    
                .cardBG {
                    width: 275px;
                    height: 160px;
                    margin: 0 auto;
                    transition: 0.3s all;
                    position: relative;

                    &.auditing {
                        
                        .audit {
                            display: block;
                        }
                    }

                    .audit {
                        display: none;
                        width: 89px;
                        height: 23px;
                        position: absolute;
                        top: 15px;
                        left: 0;
                    }

                    .nameBox {
                        width: auto;
                        height: auto;
                        position: absolute;
                        top: 14px;
                        right: 16px;
                        text-align: right;

                        p {
                            color: $mainColor_4;
                            font-size: 18px;
                            font-weight: bold;

                            &:first-child {
                                font-size: 22px;
                                margin-bottom: 10px;
                            }
                        }
                    }

                    .num {
                        width: 100%;
                        color: $mainColor_4;
                        font-size: 21px;
                        font-weight: bold;
                        text-align: center;
                        letter-spacing: 2px;
                        position: absolute;
                        left: 0;
                        bottom: 20px;
                    }
                }
            }
        }
    }

    .slick-arrow {
        z-index: 1;
        width: 40px;
        height: 40px;
        background: $card_ArrowBG;
        border-radius: 50%;
        top: 45%;

        &:hover,&:active,&.active {
            opacity: 1;
        }

        &::before {
            display: block;
            color: transparent;
            width: 18px;
            height: 9px;
            position: absolute;
            left: 46%;
            transform: translate(-50%,-50%);
            filter: grayscale(1) brightness(15);
        }

        &.slick-prev {
            left: 0;

            &::before {
                transform: translate(-50%,-50%) rotate(90deg);
            }
        }

        &.slick-next {
            right: 0;

            &::before {
                left: 50%;
                transform: translate(-50%,-50%) rotate(-90deg);
            }
        }
    }
}