//bg
@mixin mainBG_1 {
    width: 100%;
    height: calc(100vh - 50px);
    background: #000000;
    overflow-y: auto;
    padding: 0 8px 20vw;
}
$bg_1: #000000;
$bg_2: #ffffff;

//fontColor
$mainColor_1: #b8151a;
$mainColor_2: #ba9141;
$mainColor_3: #929292;
$mainColor_4: #ffffff;
$mainColor_5: #DD2830;
$mainColor_6: #66E123;
$mainColor_7: #ffcb70;
$mainColor_8: #ff0000;

//border
$border_1: #b8151a;
$border_2: #daaf6d;

//remind
$remind: #438dd3;
$disable: #7f7f7f;

//可選字色
$click: #ff5a00;

//shadow
$mainShadow_1: #00000033;
$mainShadow_2: #00000080;

//header
$header_BG: #b8151b;
$header_Title: #ffffff;
@mixin lang {
    background: #b8151b;
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2vw;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: #ffffff transparent;
    }
}
$header_langColor: #ffffff;
$header_langBG: #c8a870;
@mixin loginBtn {
    background: #DD2830;
    border-radius: 30px;
    border: solid 1px transparent;
    color: #ffffff;
    font-size: 3.4vw;
    font-weight: bold;

    &:active,&.active {
        background: #b8151a;
        border-color: #b8151a;
        color: #ffffff;
    }
}
@mixin signupBtn {
    background: #66E123;
    border-radius: 30px;
    color: #ffffff;
    font-size: 3.4vw;
    font-weight: bold;

    &:active,&.active {
        background: linear-gradient(to bottom,#970707 0%,#cf0505 98%);
    }
}
@mixin header_Back {
    background: #ffffff;
    border-radius: 30px;
    color: #b8151a;
    font-size: 3.4vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3vw;
}

//ad
$ad_Dot: #ffffff;

//marquee
$marquee_BG: #000000;
$marquee_Border: #daaf6d;
$marquee_TitleBG: linear-gradient(to bottom, #C9A76C 0%, #DD2830 100%);
$marquee_Title: #ffffff;
$marquee_Word: #ffcb70;

//home
$lv_BG: #000000;
$lv_Border: #ffcb72;
$game_Color: #7c5b1a;

//slotPage
$slotPage_boxBG: #ffffff;
$slotPage_boxBorder: #dfbe84;
$slotPage_box_loveBG: #b8151b;
$slotPage_box_loveBG_active: #cf0505;

//event
$event_boxBG: #000000;
$event_boxBorder: #dfbe84;
@mixin eventBtn {
    background: linear-gradient(to bottom,#1fc0f5 0%,#2478df 100%);
    border-radius: 30px;
    border: solid 2px #ffffff;
    color: #ffffff;
    font-size: 4vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

//member
$memberInfo_info2_BG: #ffffff;
$memberInfo_SercurityBG: #dadada; //withwarp
$memberInfo_SercurityColor: #7f7f7f; //withwrap
$memberInfo_Sercurity_low: #e80f16;
$memberInfo_Sercurity_middle: #ff6418;
$memberInfo_Sercurity_high: #008920;

//card
$card_ArrowBG: #b3925a;

//vip
$vip_cardTitle: #ffd38a;

//eventApply
$eventApply_reviewBG: #9f7d48;
$eventApply_reviewBG_fail: #b8b8b8;
$eventApply_reviewBG_sus: #118f07;

//service
@mixin serviceBtn {
    background: #ffffff;
    border: solid 2px #00c114;
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding: 16px;
}
$service_btnTitle: #00c114;

//invite
@mixin inviteBtnBox {
    background: linear-gradient(to bottom,#fdeec6 32%,#e2c28d 100%);
    border-radius: 16px;
    border: solid 1px #daaf6d;
    box-shadow: 0 2px 5px 2px #0000001d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

//mail
$mail_readBG: #e3e3e3;

//help
$help_topList_BG: #000000;
$help_topList_Border: #ffffff;
$help_topList_Color: #ffffff;
$help_uploadBox_Border: #cccccc;

//deposit
@mixin depositBtn {
    background: linear-gradient(to top,#e7e7e7 0%,#ffffff 77%);
    border-radius: 16px;
    border: solid 1px #be8d43;
    display: flex;
    align-items: center;
    justify-content: center;

    &:active,&.active {
        background: #ffffff;
        border: solid 3px #b8151a;
    }
}

//其他BG
@mixin innerBG_1 {
    background: #000000;
    border-radius: 16px;
    border: solid 1px #ffcb72;
}
@mixin innerBG_2 {
    background: #000000;
    border: solid 1px #d5ab6a;
    border-radius: 5px 10px 10px 5px;
    box-shadow: 1px 2px 1px 0 #0000001d;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background: #d5ab6a;
    }
}

$footer_BG: #b8151b;
$footerHov_BG: #ffffff;

//table
$table_BG: #000000;
$table_TitleBG: linear-gradient(to top,#b78c4b 0%,#d5ab6a 100%);
$table_TitleSecondBG: linear-gradient(to top,#a2a2a2 0%,#cccccc 77%);
$table_Title: #ffffff;
$table_Border: #d5ab6a;
$table_innerBorder: #a8a8a8;
$table_jumpWindow_TitleBG: #b78d4b;
$table_jumpWindow_BG: #000000;

//page
@mixin pageStyle_1 {
    background: #000000;
    border: 1px solid #a8a8a8;
    border-bottom:  transparent;
    border-radius: 16px 16px 0 0;
    color: #a8a8a8;
    font-size: 4vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

    &:active,&.active {
        background: linear-gradient(to bottom,#970707 0%,#cf0505 98%);
        border-color: transparent;
        color: #ffffff;
    }
}
@mixin pageStyle_2 {
    background: #000000;
    border-radius: 30px;
    border: solid 1px #ffcb72;
    color: #ffcb72;
    font-size: 4vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

    &:active,&.active {
        background: linear-gradient(to bottom,#970707 0%,#cf0505 98%);
        border-color: #fe6363;
        color: #ffffff;
    }
}

//箭頭小提示
@mixin smallTip {
    background: #c70000;
    border-radius: 30px;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 3vw;
    font-weight: bold;
    position: absolute;
    padding: 5px 10px;

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -6px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: #c70000 transparent;
    }
}
$currentBG: #000000;

//彈窗背景透明底
$filter: #00000066;

//jumpWindow
$jumpWindow_Title: #ffffff;
$jumpWindow_BG: #000000;
$jumpWindow_Border: #daaf6d;
$jumpWindow_secondBorder: #b8151a;
@mixin newsBox {
    background: #000000;
    border-radius: 5px;
    border: solid 1px #ba9141;
    overflow: hidden;

    &.active {
        background: #000000;
        box-shadow: 0 2px 5px 0 #0000001d inset;
    }
}

//agent
$agent_Color_1: #d38c19;
$agent_Color_2: #4d4d4d;
$agent_BG_1: #ffebcb;
$agent_BG_2: #b8151a;


//button


//常用
@mixin mainBtn {
    // background: linear-gradient(to top,#bc9c64 4%,#f3d197 93%);
    background: #cdac75;
    border-radius: 30px;
    color: #ffffff;
    font-size: 4vw;
    font-weight: bold;
    letter-spacing: 1px;

    &:active,&.active {
        background: linear-gradient(to bottom,#bc9c64 4%,#f3d197 93%);
    }
}

//第二常用
@mixin secondBtn {
    background: linear-gradient(to top,#970707 0%,#cf0505 98%);
    border-radius: 30px;
    color: #ffffff;
    font-size: 3.4vw;
    font-weight: bold;

    &:active,&.active {
        background: linear-gradient(to bottom,#970707 0%,#cf0505 98%);
    }
}

@mixin lightBtn_1 {
    background: #000000;
    border-radius: 30px;
    border: solid 1px #ff0000;
    color: #ff0000;
    font-size: 3.4vw;
    font-weight: bold;

    &:active,&.active {
        background: #b8151a;
        color: #ffffff;
    }
}
$lightBtn_secondColor: #168516;

@mixin dateBtn {
    background: #000000;
    border-radius: 30px;
    border: solid 1px #ffcb72;
    color: #ffcb72;
    font-size: 4vw;
    font-weight: bold;

    &:active,&.active {
        background: #b8151a;
        border-color: transparent;
        color: #ffffff;
    }
}

@mixin quickBtn {
    background: #000000;
    border-radius: 30px;
    border: solid 2px #cf0505;
    color: #cf0505;
    font-size: 3.4vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 8vw;

    &:active,&.active {
        background: #cf0505;
        color: #ffffff;
    }
}
$quickBtn_iconBG: transparent;
$quickBtn_iconBG_active: #000000;
$quickBtn_iconBG_active02: #DD2830;

button:disabled {
    background: #cccccc !important;
    border: none !important;
    box-shadow: none !important;
    color: #ffffff !important;
    pointer-events: none !important;

    i {
        filter: grayscale(1) brightness(15) !important;
    }
}

@mixin redBtn {
    background: #DD2830;
    border-radius: 30px;
    color: #ffffff;
    font-size: 4vw;
    font-weight: bold;
    letter-spacing: 1px;

    &:active,&.active {
        background: linear-gradient(to bottom,#bc9c64 4%,#f3d197 93%);
    }
}


@mixin newtransBtn {
    background: #ffc800;
    border-radius: 30px;
    border: solid 1px transparent;
    color: #000000;
    font-size: 3.4vw;
    font-weight: bold;

    &:active,&.active {
        background: #DD2830;
        color: #ffffff;
    }
}


//input



//常用input
@mixin mainInput {
    background: #000000;
    border-radius: 5px;
    border: solid 1px #daaf6d;
    box-shadow: 0 2px 5px 0 #0000001d inset;
    color: #ffffff;
    font-size: 3.4vw;
    font-weight: bold;
    padding-left: 16px;

    &::placeholder {
        color: #a3a3a3;
    }
}

input:disabled {
    border: none !important;
    background: #272626 !important;
    box-shadow: none !important;
}



//select



@mixin mainSelect {
    background: #000000;
    border-radius: 5px;
    border: solid 1px #daaf6d;
    color: #ffffff;
    font-size: 4vw;
    font-weight: bold;
    padding-left: 16px;
    // background-image: linear-gradient(45deg,transparent 50%,#c9a567 0),linear-gradient(135deg,#c9a567 50%,transparent 0);
    // background-position: calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px);
    // background-size: 5px 5px,5px 5px;
    // background-repeat: no-repeat;
    appearance: none;
}



//套件



@mixin hiddenText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin checkBox {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 18px;
        height: 18px;
        background: #000000;
        border-radius: 50%;
        border: solid 1px #daaf6d;
        box-shadow: 0 2px 3px 0 #0000001d inset;
    }

    &::after {
        display: none;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 13px;
        height: 13px;
        background: #daaf6d;
        border-radius: 50%;
    }

    &:checked {

        &::after {
            display: block;
        }
    }
}