.eventWrap {
    @include mainBG_1;
    overflow: hidden;

    //優惠選擇列
    .eventType {
        width: 100%;
        height: auto;

        ul {
            width: 100%;
            height: auto;
            display: flex;
            overflow-x: auto;
            padding: 16px 0;

            li {
                width: auto;
                height: 9vw;
                @include pageStyle_2;
                flex-shrink: 0;
                padding: 0 10px;
                margin-right: 5px;

                &:last-child {
                    margin: 0;
                }

                i {
                    width: 4vw;
                    height: 4vw;
                    margin-right: 5px;
                }
            }
        }
    }

    //優惠列表
    .eventList {
        width: 100%;
        height: calc(100vh - 118px);
        overflow-y: auto;
        padding-bottom: 20vw;

        ul {
            width: 100%;
            height: auto;

            li {
                width: 100%;
                height: auto;
                background: $event_boxBG;
                border-radius: 10px;
                border: solid 1px $event_boxBorder;
                margin-bottom: 10px;
                overflow: hidden;

                &:last-child {
                    margin: 0;
                }

                .textBox {
                    width: 100%;
                    height: 9vw;
                    display: flex;
                    align-items: center;
                    position: relative;

                    .star_ic {
                        width: 4vw;
                        height: 4vw;
                        margin: 0 8px;
                    }

                    p {
                        color: $mainColor_7;
                        font-size: 4vw;
                        font-weight: bold;
                    }

                    button {
                        width: auto;
                        height: 9vw;
                        @include eventBtn;
                        position: absolute;
                        right: 10px;
                        bottom: 18px;

                        i {
                            width: 4vw;
                            height: 4vw;
                            margin-left: 5px;
                            filter: grayscale(1) brightness(15);
                        }
                    }
                }
            }
        }
    }
}

//優惠內頁
.eventDetail {
    @include mainBG_1;
    padding: 8px 8px 20vw;

    .content {
        width: 100%;
        height: auto;
        padding-top: 24px;

        .lineTitle {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            margin: 16px 0;

            &:first-child {
                margin-top: 0;
            }
    
            .star_ic {
                width: 4vw;
                height: 4vw;
                flex-shrink: 0;
                margin-right: 5px;
            }
    
            p {
                color: $mainColor_6;
                font-size: 4vw;
                font-weight: bold;
                flex-shrink: 0;
                margin-right: 5px;
            }
    
            .line {
                width: 100%;
                height: 2px;
                background: $mainColor_6;
            }
        }

        .textBox {
            width: 100%;
            height: auto;
            padding: 0 16px;

            p {
                color: $mainColor_4;
                font-size: 4vw;
                font-weight: bold;
                line-height: 5.5vw;
                margin-bottom: 10px;
                
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}