//footer
footer {
  width: 100%;
  height: 20vw;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  z-index: 100;

  ul {
    width: 100%;
    height: 52px;
    background: $footer_BG;
    display: flex;

    li {
      width: 20%;
      height: 100%;
      position: relative;

      a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        &::before {
          content: " ";
          width: 6.5vw;
          height: 6.5vw;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.active {
        
        a {
          width: 15vw;
          height: 15vw;
          background: $footerHov_BG;
          border-radius: 50%;
          top: -35%;
          left: 50%;
          transform: translateX(-50%);

          &::after {
            content: " ";
            width: 6.5vw;
            height: 6.5vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

