//邀請會員
.inviteWrap {
    @include mainBG_1;
    
    //top
    .top {
        width: 100%;
        height: auto;
        padding: 0 16px;

        .smallTitle {
            color: $mainColor_2;
            font-size: 4vw;
            font-weight: bold;
            line-height: 5.5vw;
            margin: 10px 0 5px;
        }

        .inputBox {
            width: 100%;
            height: auto;
            position: relative;

            input {
                width: 100%;
                height: 9.87vw;
                @include mainInput;
            }

            .copy_ic {
                width: 4vw;
                height: 4vw;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 16px;
            }
        }

        .btnBox {
            width: 80%;
            height: 17vw;
            @include inviteBtnBox;
            margin: 10px auto 0;

            li {
                width: 11vw;
                height: 11vw;
            }
        }

        .qr {
            width: 50vw;
            height: 50vw;
            margin: 16px auto;
        }
    }

    .lineTitle {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .star_ic {
            width: 4vw;
            height: 4vw;
            flex-shrink: 0;
            margin-right: 5px;
        }

        p {
            color: $mainColor_6;
            font-size: 4vw;
            font-weight: bold;
            flex-shrink: 0;
            margin-right: 5px;
        }

        .line {
            width: 100%;
            height: 2px;
            background: $mainColor_6;
        }
    }

    //down
    .down {
        width: 100%;
        height: auto;
        padding: 0 8px;

        .smallTitle {
            width: 100%;
            color: $disable;
            font-size: 3.4vw;
            font-weight: bold;
            text-align: center;
        }

        .title {
            color: $mainColor_2;
            font-size: 4vw;
            font-weight: bold;
            margin: 10px 0;
        }

        .text {
            color: $mainColor_4;
            font-size: 3.4vw;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }

    .inviteImg {
        width: 100%;
        height: 0;
        margin-top: 10px;
        padding-top: 151vw;
    }
}