html {
    width: 100%;
    height: 100%;
    background: $bg_1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    body {
        width: 100%;
        height: 100%;

        main {
            width: 100%;
            height: 100%;
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }

        .bg {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -999;
        }

        @import "./header";
        @import "./ad";
        @import "./home";
        @import "./footer";
        @import "./jumpWindow";
        @import "./rwd";
        @import "./slotPage";
        @import "./event";
        @import "./wallet";
        @import "./member";
        @import "./help";
        @import "./eventApply";
        @import "./vip";
        @import "./mail";
        @import "./card";
        @import "./record";
        @import "./deposit";
        @import "./transfer";
        @import "./withdrawal";
        @import "./invite";
        @import "./agent";
    }
}