//我的錢包
.walletWrap {
    @include mainBG_1;

    //上半
    .walletBox {
        width: 100%;
        height: auto;
        padding-top: 8px;

        //上視窗
        .content {
            width: 100%;
            height: auto;
            @include innerBG_1;
            padding: 16px;

            .box {
                width: 100%;
                height: auto;

                &:first-child {
                    margin-bottom: 5vw;
                }

                .title {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 2vw;

                    p {
                        color: $mainColor_7;
                        font-size: 4vw;
                        font-weight: bold;

                        &.limit {
                            color: $mainColor_3;
                            font-size: 3.4vw;

                            span {
                                margin-left: 5px;
                            }
                        }
                    }

                    button {
                        width: auto;
                        height: 6vw;
                        @include mainBtn;
                        font-size: 3.4vw;
                        padding: 0 3vw;
                    }
                }

                .amount {
                    width: 100%;
                    height: auto;
                    padding: 2px 0;
                    border-bottom: solid 1px $border_1;

                    p {
                        color: $mainColor_8;
                        font-size: 6vw;
                        font-weight: bold;
                    }
                }
            }
        }

        //轉存提
        ul {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            padding: 8px 13vw 16px;

            li {
                width: 20vw;
                height: 20vw;
                @include mainBtn;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;

                // &:active,&.active {

                //     p {
                //         color: $mainColor_4;
                //     }
                // }

                // i {
                //     width: 9vw;
                //     height: 9vw;
                // }

                p {
                    color: $mainColor_4;
                    font-size: 5.7vw;
                    font-weight: bold;
                    // margin-top: 1vw;
                }

                &:nth-of-type(1) {
                    background: $mainColor_1;
                }
                &:nth-of-type(3) {
                    background: $bg_1;
                    border: 1px solid $disable;

                    p {
                        color: $disable;
                    }
                }
            }
        }
    }

    .lineTitle {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        .star_ic {
            width: 4vw;
            height: 4vw;
            flex-shrink: 0;
            margin-right: 5px;
        }

        p {
            color: $mainColor_8;
            font-size: 4vw;
            font-weight: bold;
            flex-shrink: 0;
            margin-right: 5px;
        }

        .line {
            width: 100%;
            height: 2px;
            background: $mainColor_8;
        }
    }

    //錢包列
    .walletList {
        width: 100%;
        height: auto;
        border-bottom: solid 2px $border_1;
        margin-bottom: 24px;

        button {
            width: 42vw;
            height: 9.87vw;
            @include mainBtn;
            display: none;
            align-items: center;
            justify-content: center;
            margin: 0 auto 16px;

            &.display {
                display: flex;
            }

            i {
                width: 4vw;
                height: 4vw;
                margin-left: 5px;
                filter: grayscale(1) brightness(15);
                transform: rotate(90deg);
            }
        }

        .forPlatform {
            width: 100%;
            height: 0;
            overflow: hidden;
            padding: 0 16px;

            &.active {
                height: auto;
            }

            .title {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 16px;

                p {
                    color: $disable;
                    font-size: 3.4vw;
                    font-weight: bold;
                }
            }

            ul {
                width: 100%;
                height: auto;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 8px 10px;

                li {
                    width: auto;
                    height: auto;
                    border-radius: 10px;
                    background: $bg_1;
                    border: 1px solid $mainColor_7;
                    box-shadow: 1px 1px 2px 0 $mainShadow_1;
                    padding: 10px 16px;

                    div {
                        width: 100%;
                        color: $mainColor_7;
                        font-size: 3.4vw;
                        font-weight: bold;
                        letter-spacing: 1px;
                        @include hiddenText;
                    }

                    p {
                        color: $mainColor_8;
                        font-size: 5vw;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                }
            }

            .closeBtn {
                margin-top: 16px;

                i {
                    transform: rotate(-90deg);
                }
            }
        }
    }

    //下方按鈕
    .optionBox {
        width: 100%;
        height: auto;
        padding: 0 16px;

        button {
            width: 100%;
            height: 12vw;
            @include quickBtn;
            font-size: 4vw;
            position: relative;
            padding-left: 14vw;
            margin-bottom: 10px;

            &:last-child {
                margin: 0;
            }

            &:active,&.active {

                i {
                    background: $quickBtn_iconBG_active;
                }
            }

            i {
                width: 12vw;
                height: 12vw;
                position: absolute;
                top: -1px;
                left: -1px;
                background: $quickBtn_iconBG;
                border-radius: 50%;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 6vw;
                    height: 6vw;
                }
            }
        }
    }
}